<a href="https://colab.research.google.com/github/Umesh8527/Datasciencegooglecloud/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world iam learning python")

##this is my first text message in python

In [ ]:
city = "Ghaziabad";

In [ ]:
def Totaltrip(city,tripno,Totaltrip):

    city = "Ghaziabad"; 

tripno= "10";

Totaltrip = "i have to go to " +city+ " "+ str(tripno)+ " " + "times";
  return(city,tripno,Totaltrip);
  print(Totaltrip);

In [ ]:
def text():
    b = "please give me a pen"
    return b

c=text();
a=c.upper()
print(a)
print(c.capitalize())
print(c.replace('pen','Pencil'))
print(c.find('pen'))
print(c.find('give'))
print(c.lower())

PLEASE GIVE ME A PEN
Please give me a pen
please give me a Pencil
17
7
please give me a pen

In [ ]:
def text():
    b = "please give me a pen"
    return b

# call the text function and store the returned value in a variable called c
c = text()
a=c.upper()
print(a)
# apply various string methods on the string stored in c

print(c.capitalize())
print(c.replace('pen', 'pencil'))
print(c.find('pen'))
print(c.find('give'))
print(c.lower())

PLEASE GIVE ME A PEN
Please give me a pen
please give me a pencil
17
7
please give me a pen

In [12]:
from typing import List
List= ["umesh","Priyanka","Navneet","Mansi","Vipin"];
print(List[0:7])

['umesh', 'Priyanka', 'Navneet', 'Mansi', 'Vipin']

In [19]:
from typing import List
List= ['umesh','Priyanka','Navneet','Mansi','Vipin'];
print(List[-4])

Priyanka

In [25]:
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]
print(strangeList[0:4])

[4, 10.2, 'Marion Weaver', ['another list', 1]]

In [1]:
accounts = {'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74}
print(accounts['Alberto Mendoza']) # -> 150

150

In [11]:
accounts['Alberto'] = 100 # I subtract 2000 from David's account
accounts['Marion Weaver'] -= 2000 # I subtract 2000 from David's account
accounts['Kristian Roach'] = 1000 # I add a new individual in my dictionary
print(accounts['Kristian Roach']) # I print the value of Kristian's account
accounts.pop('Alberto') # deletes Alberto Mendoza from our dictionary
len(accounts) # -> 3
my_tuple = (1, 2, 3, 'a', 'b')
print(my_tuple[1]) # -> 2
print(my_tuple[4]) # -> 'b'
a, b = (1, 'apple')
print(a) # -> 1
print(b) # -> 'apple'

1000
2
b
1
apple

In [14]:
list = []
list.append(7) # -> [7]
list.append(5) # -> [7, 5]
list.insert(1,12) # [7, 12, 5]
list[0] = 4 # -> [4, 12, 5]
list.remove(12) # [4, 5]
list.index(5) # prints 1
list.extend([1, 2, 3]) # [4, 5, 1, 2, 3]
print(list)
#->del list[3] # [4, 5, 1, 3]

[4, 5, 1, 2, 3]